@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuenMatKhau</title>
    <link rel="stylesheet" href="~/assets/user/css/login.css">
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
</head>
<body>
    <!-- Navbar-->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light py-3">
            <div class="container">
                <!-- Navbar Brand -->
                <a href="@Url.Action("TrangChu", "Home")" class="navbar-brand">
                    <img src="~/assets/user/images/logo-02.png"
                         alt="logo"
                         width="150" />
                </a>
            </div>
        </nav>
    </header>

    <div class="container" style="padding-top:6%">
        <div class="row py-2 mt-2 align-items-center">

            <!-- Registeration Form -->
            <div class="col-md-6 col-lg-8 mx-auto">
                <h1 style="text-align:center; padding:3%">Nhà Sách Nguyễn Văn Cừ</h1>
                <h3 style="text-align:center;">Quên Mật Khẩu</h3>

                <div class="row">

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email"
                               type="email"
                               name="email"
                               placeholder="Email"
                               class="form-control bg-white border-left-0 border-md" />
                        <div class="input-group-append">
                            <button id="btnOTP" type="button" class="input-group-text bg-white px-4 border-md font-weight-bold text-primary">Gửi mã OTP</button>
                        </div>
                    </div>
                    <!-- OTP -->
                    <div class="input-group col-lg-12 mb-4" id="otpGroup" style="display:none;">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <input id="maOTP"
                               type="number"
                               name="maOTP"
                               placeholder="Mã xác nhận OTP"
                               class="form-control bg-white border-md border-left-0 pl-3" />
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4" id="matKhauGroup" style="display:none;">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="matkhau"
                               type="password"
                               name="matkhau"
                               placeholder="Mật khẩu mới"
                               class="form-control bg-white border-left-0 border-md" />
                    </div>

                    <!-- Thong Bao -->
                    <div id="userAlert" class="alert" style="display:none; margin-left:14px">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0" id="btnGroup" style="display:none;">
                        <button type="submit" class="btn btn-primary btn-block py-2" id="btnXacNhan" onclick="checkQuenMatKhau()">
                            <span class="font-weight-bold">Xác Nhận</span>
                        </button>
                    </div>
                    <!-- Already Registered -->
                    <div class="text-center w-100" style="padding-top:2%">
                        <p class="text-muted font-weight-bold">
                            <a href="@Url.Action("DangNhap", "KhachHang")" class="text-primary ml-2">Đăng Nhập</a>
                        </p>
                        <p class="text-muted font-weight-bold">
                            Chưa có tài khoản?
                            <a href="@Url.Action("DangKy", "KhachHang")" class="text-primary ml-2">Đăng Ký</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/assets/user/js/login.js"></script>
</body>
</html>